<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.css" >
		
	</head>
	<body>

		<div ng-controller="MoviesController">
			<input type="text" ng-model="search"/>
			<h1>{{search}}</h1>
			<li ng-repeat="movie in movies | filter : search"><div>{{movie.title | uppercase}}</div></li>
		</div>

		<!--<h1>{{userinput}}</h1>-->
	
		<ul>
			<!--<li ng-repeat="name in names"> {{name | uppercase}} </li>-->
		</ul>	

		

		<input type="text" ng-model="userinput" class="form-control input-sm"/>
		<script type="text/javascript" src="lib/angular/angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>